<main class="container" fxLayout fxLayout.sm="column" fxLayout.xs="column"
 fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
  <section fxFlex="50%" class="about-info-container">
    <h2>
      BP3 Test Application
    </h2>
    <p class="space-above">
      <span class="label">Developed by:</span>   Pablo Andrés Vélez Vidal
    </p>
    <article class="container space-above">
      <h2>Information about the App's architecture</h2>
      <p class="info-text"> 
        The datasource that matches with the one described in the PDF is the "3 - Branching process". I used all the datasources because it gives the user the option to choose a different Json and apply the same functionality.
      </p>
      <div>
        <h4 class="space-above">Technologies Used:</h4>
        <ol class="item-list">
          <li><p>Angular 5</p></li>
          <li><p>Angular Material Design</p></li>
          <li><p>Angular Flex-Layout</p></li>
          <li><p>Sass</p></li>
          <li><p>Angular Animations</p></li>
        </ol>
      </div>
    </article>
  </section>
  <section fxFlex="50%" class="about-info-container">
    <h2>
      Contact Information:
    </h2>
    <p class="space-above">
      <span class="label">Email:</span> <span class="info-text">pablovv2012@gmail.com</span>  
    </p>
    <p>
      <span class="label">Cellphone:</span> <span class="info-text">+57 318 876 2544 | +34 694 576 897</span>
    </p>
    <p>
      <span class="label">Location: </span><span class="info-text">Cali, Colombia</span>
    </p>
  </section>
</main>

