<main>
  <mat-radio-group class="endpoint-radio-group" [(ngModel)]="selectedEndpoint">
    <mat-radio-button class="endpoint-radio-button" *ngFor="let endpoint of endpoints" (click)="changeEndpoint(endpoint)" [value]="endpoint.path">
      {{endpoint.name}}
    </mat-radio-button>
  </mat-radio-group>
  <div class="endpoint-selected-value">The endpoint you are using is:
    <span class="highlighted">{{selectedEndpoint}}</span>
  </div>
  <mat-card class="filter">
    <mat-card-content>
      <h2 class="example-h2">Filter just to human task</h2>
      <section class="example-section">
        <mat-slide-toggle (change)="filterToHumanTask($event)" [checked]="filterTHT">
          Filter!
        </mat-slide-toggle>
      </section>
    </mat-card-content>
  </mat-card>
  <mat-card-content>
    <mat-icon [hidden]="!isLoading">spinner</mat-icon>
    <mat-tab-group class="demo-tab-group">
      <mat-tab label="Cards">
        <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
          <div fxFlex="50%">
            <header>
              <h2>Nodes</h2>
            </header>
            <mat-card *ngFor="let node of completeJson?.nodes" fxLayout fxLayout.xs="column" fxLayoutAlign="center">
              <mat-card-header fxFlex="30%">
                <mat-card-subtitle>Id: <span class="highlighted">{{node.id}}</span></mat-card-subtitle>
                <mat-card-title>Name: <span class="highlighted">{{node.name}}</span></mat-card-title>
              </mat-card-header>
              <mat-card-content fxFlex="70%">
                  <mat-icon>{{iconsList[node.type]}}</mat-icon>
                <p>
                  {{node.type}}
                </p>
              </mat-card-content>
            </mat-card>
          </div>
          <div fxFlex="50%">
            <header>
              <h2>Edges</h2>
            </header>
            <div class="container">
              <mat-card *ngFor="let edge of completeJson?.edges">
                <mat-card-content fxLayout fxLayoutAlign="center" fxLayoutGap.xs="0">
                    <div class="chip chip-from">From: {{edge.from}}</div>
                    <div class="chip chip-to">To: {{edge.to}}</div>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Json">
        <div class="container">
          <ngx-json-viewer [(json)]="completeJson" [expanded]="false"></ngx-json-viewer>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</main>