@import '~sass/variables';
@import '~sass/mixins';

.endpoint-radio-group {
    padding-bottom: 1em;

    .endpoint-radio-button {
        margin: .5em 1em;
    }
}

.endpoint-selected-value {
    margin-top: 1em;
}

.container{
    padding: .5em;
}

.highlighted {
    font-weight: 800;
    padding: 0 .5em;
}

.chip {
    max-width: 50px;
    padding: 1em;
    border-radius: 50%;
    margin: 1em;
    color: white;
    font-weight: 500;
  }

  .chip-from {
    background-color: #607d8b;
  }

  .chip-to {
    background-color: #e91e63;
  }