@import '~sass/variables';
@import '~sass/mixins';

.endpoint-radio-group {
    padding-bottom: 1em;

    .endpoint-radio-button {
        margin: .5em 1em;
    }
}

.endpoint-selected-value {
    margin-top: 1em;
}

.highlighted {
    font-weight: 800;
    padding: 0 .5em;
}