@import './sass/variables';
@import './sass/mixins';
@import './sass/reset';


/*Material themes*/
@include angular-material-theme($my-app-theme);

/*Main Classes*/
body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}
  
h1 {
    margin: 0;
}

.right-bottom-fixed {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
  }

/*General Material Classes*/
  mat-card {
    max-width: 80%;
    margin: 2em auto;
    text-align: center;
  }
  
  mat-toolbar-row {
    justify-content: space-between;
  }

  mat-sidenav-container{
    height: 100vh;
  }
  
