@import './sass/variables';
@import './sass/mixins';
@import './sass/reset';


/*Material themes*/
@include angular-material-theme($my-app-theme);

/*Main Classes*/
body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

h2 {
  font-size: 1.3em;
  font-weight: 600;
  margin: .1em 0;
}

h3 {
  font-size: 1.2em;
  font-weight: 500;
  margin: .1em 0;
}

h4 {
  font-size: 1.1em;
  font-weight: 400;
  margin: 0 .1em;
}

p {
  margin: .1em 0;
}

main {
  max-width: 80%;
  margin: .5em auto;
  text-align: center;
  background-color: #fff;
}

.right-bottom-fixed {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
  }

/* App General Styles */
.label {
  font-weight: 600;
}

.info-text {
  font-style: italic;
  color: #3e3e3f;

}

.space-above {
  margin-top: .5em;
}

/*General Material Classes*/
  mat-card {
    max-width: 85%;
    max-height: 50px;
    margin: .5em auto;
    text-align: center;
  }
  
  mat-toolbar-row {
    justify-content: space-between;
  }

  mat-sidenav-container{
    height: 100vh;
  }

  mat-icon{
    font-family: 'Material Icons' !important;
  }

  mat-progress-spinner {
    margin: 0 auto;
  }

  
